.card-heading {
    text-align: center;
    font-size: 2.5rem;
    margin: 0px 0px 90px 0px;
    color: #e50914;
}

.card{
    border: 2px solid #e50914;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 300px;
    background-color: #141414;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

img{
    width: 100%;
}

.card:hover {
    transform: scale(1.05);
}

.card-content {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.super-hit {
    color: #46d369;
    font-weight: bold;
}

.avrage{
    color: #ffba08;
    font-weight: bold;
}